table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1.5px solid rgb(20, 4, 105);
    text-align: center;
    padding: 10px;
    font-size: 22px;
}

tr:nth-child(even) {
    background-color: #ccc;
}
